/* body {

} */

.intro {
    font-size: 50px;
    color: white;
    text-align: center;
    background-image: url(../img/header\ image.jpeg);
    width: 100%;
    height: 700px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 150px;
    padding-bottom: 25px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

}

.about {
    padding-top: 50px;
    text-align: center;
    line-height: 15px;  
    /* margin: 15px 0; */

}

.services {
    text-align: center;
    color: white;
    background-image: url(../img/second\ image.jpeg);
    width: 100%;
    height: 400px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
    /* margin: 5px; */
    object-fit: contain;
}

.whatwedo{
    padding-top: 50px;
    text-align: center;
}

.grid1{ 
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 50px;
    grid-row-gap: 150px;
    /* margin: 10px; */

}
.grid1 > div {
    
    height: 210px;
    background-size: cover;

}

.portfolio{
    text-align: center;
}


.grid2{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-gap: 5px;
    grid-row-gap: 100px;
    margin: auto;
    /* padding-left: 100px;
    padding-right: 50px;
    padding-top: 150px;
    padding-bottom: 25px;
    /* margin-left: 100px; */
    /* margin-right: 100px;  */
}

.grid2 > div {

    height: 210px;
    width: fit-content;
    background-size: cover;

}
.contactUs{
    text-align: center;
    color: white;
    background-image: url(../img/lower\ background\ image.jpeg);
    width: 100%;
    height: 400px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
    /* margin: 10px; */
    object-fit: contain;

} 

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    background-color: transparent;
    grid-gap: 150px;

}

.form2{
    display: grid;
    grid-template-columns: repeat(1, 1fr );
    height: 250px;
    background-color:transparent; 

}

.social-icons{
    text-align: center;
    display: grid;
    object-fit: scale-down;
    grid-template-columns: repeat(9, 1fr );

}

.sign-off{
    text-align: center;

}