/* body {

} */

.intro {

    background-image: url(../img/header\ image.jpeg) ;

}

/* .about {



} */

.services {

    background-image: url(../img/second\ image.jpeg);
}

/* .design {


} */

/* .development{


}

.productmanagement{


} */

/* .portfolio{


} */

.contactUs{

    background-image: url(../img/lower\ background\ image.jpeg)
}